<div class="spinner-border text-primary" *ngIf="loading"></div>
<div *ngIf="task && !loading">
    <h1>Aufgabe zum <b>{{task.day}}. Dezember</b></h1>
    <div class="row mt-5">
        <div class="col col-12 col-lg-6 pb-5">
            <div class="alert alert-success">
                Dieses Bilderrätsel ist bis<br><b>{{due | date:'EEEE, dd.MM.yyyy'}}, 23:59 Uhr</b><br>zu lösen.
            </div>
            <img class="img-fluid" [src]="remoteService.getImageUrl('tasks/images/'+task.day, authenticationService)">
            <div class="card p-3">
                {{task[authenticationService.isYoung ? 'young' : 'old'].description}}
            </div>
        </div>
        <div class="col col-12 col-lg-6">
            <div class="alert alert-primary" *ngIf="task.status == 'OPEN'">
                Wo befindet sich der Gegenstand?<br>Klicke auf das entsprechende Quadrat.
            </div>
            <div class="alert" [class.alert-success]="task.solutionStatus == 'CORRECT'" [class.alert-danger]="task.solutionStatus == 'INCORRECT'" *ngIf="task.status == 'SOLVED'">
                Die korrekte Lösung ist <b>{{getCorrectSolutionsString()}}</b>. 
                <ng-container *ngIf="task.guess">
                    Deine Antwort ({{task.guess.col + task.guess.row}}) ist <b>{{task.solutionStatus == 'CORRECT' ? 'korrekt' : 'falsch'}}</b>.
                </ng-container>
                <ng-container *ngIf="!task.guess">
                    Du hast keine Antwort abgegeben.
                </ng-container>
            </div>

            <div class="map-holder">
                <img src="assets/coordinates/map.jpg" class="img-fluid">
                <table class="fields">
                    <tr *ngFor="let row of rows; index as colIdx">
                        <td class="space-field"></td>
                        <td class="field" [class.cursor-pointer]="task.status == 'OPEN'" [class.selected]="selectedField && row == selectedField.row && col == selectedField.col" (click)="selectField(col, row)" [title]="col + ' ' + row" *ngFor="let col of cols; index as rowIdx"></td>
                    </tr>
                    <tr>
                        <td class="space-field"></td>
                        <td *ngFor="let row of rows; index as colIdx" class="space-field"></td>
                    </tr>
                </table>
            </div>

            <!--<map name="image-map">usemap="#image-map"
                <ng-container *ngFor="let col of cols; index as colIdx">
                    <area class="cursor-pointer" (click)="selectField(col, row)" [title]="col + ' ' + row" [coords]="(colIdx+1)*100 + ',' + rowIdx * 100 + ',' +  (colIdx+2)*100 + ',' + (rowIdx + 1) * 100" shape="rect" *ngFor="let row of rows; index as rowIdx">
                </ng-container>
            </map>-->

            <div class="card p-3 my-2 text-left" *ngIf="task.status == 'OPEN'">
                Bei Dir funktioniert das Anklicken der Quadrate nicht? Dann benutze doch diese Auswahlfelder:
                <div>
                    <select class="form-control fix-box" [(ngModel)]="selectedField.col">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                    </select>
                    <select class="form-control fix-box" [(ngModel)]="selectedField.row">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
            </div>

            <div class="alert alert-primary" *ngIf="selectedField.row && selectedField.col && task.status == 'OPEN'">
                Du hast das Feld <b>{{selectedField.col}}{{selectedField.row}}</b> ausgewählt. Ist das korrekt?<br>Dann klicke auf <i>Speichern</i>.<br>Du kannst diese Lösung noch bis zum <b>{{due | date:'EEEE, dd.MM.yyyy'}}, 23:59 Uhr</b> ändern.
            </div>
        </div>
    </div>
    <div class="mt-5">
        <a class="btn btn-secondary mr-2" routerLink="/tasks">Zurück</a>
        <button class="btn btn-success" [disabled]="!selectedField" *ngIf="task.status == 'OPEN'" (click)="save()">Speichern</button>
    </div>

</div>