<div class="spinner-border text-primary" *ngIf="loading"></div>
<div *ngIf="task && !loading">
    <h1>Aufgabe {{task.day}}</h1>
    
    <div class="row mt-5">
        <div class="col col-12 col-lg-6">
            <img class="img-fluid" [src]="remoteService.getImageUrl('tasks/images/'+task.day, authenticationService)">
            <div class="card p-3">
                {{task[authenticationService.isYoung ? 'young' : 'old'].description}}
            </div>
        </div>
        <div class="col col-12 col-lg-6">
            <div class="alert alert-primary">
                Wo befindet sich der Gegenstand? Klicke auf das entsprechende Quadrat.
            </div>
            <img src="assets/coordinates/map.jpg" class="img-fluid" usemap="#image-map">
            
            <map name="image-map">
                <ng-container *ngFor="let col of cols; index as colIdx">
                    <area class="cursor-pointer" [title]="col + ' ' + row" [coords]="(colIdx+1)*100 + ',' + rowIdx * 100 + ',' +  (colIdx+2)*100 + ',' + (rowIdx + 1) * 100" shape="rect" *ngFor="let row of rows; index as rowIdx">
                </ng-container>
            </map>
        </div>
    </div>

</div>