.page {
    width: 100vw;
    min-height: 100vh;
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}