.page {
    width: 100vw;
    min-height: 100vh;
    background-image: url("/assets/backgrounds/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

div.fullheight {
    min-height: calc(100vh - 3rem - 1rem); // image is 3rem and padding is .5 rem each
    width: 100vw;
}

@media (max-width: 576px) {
    div.fullheight.container {
        width: calc(100vw - 1rem);
        margin-left: 0;
    }
} 