<h1>Aufgaben</h1>
<div class="alert alert-info table-responsive">
    <h4>Farbcodes</h4>
    <table class="table">
        <tbody>
            <tr>
                <td class="bg-success text-white">Richtig, volle Punkzahl</td>
                <td class="bg-danger  text-white">Falsch, keine Punkte</td>
            </tr>
            <tr>
                <td class="bg-warning">Momentan zur Bearbeitung</td>
                <td class="bg-light">Noch nicht freigeschaltet</td>
            </tr>
        </tbody>
    </table>

</div>
<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <td *ngFor="let task of tasks" [class.text-white]="task.status == 'SOLVED'" [class.bg-success]="task.status == 'SOLVED' && task.solutionStatus == 'CORRECT'" [class.bg-danger]="task.status == 'SOLVED' && task.solutionStatus == 'INCORRECT'" [class.bg-warning]="task.status == 'OPEN'" [class.bg-light]="task.status == 'LOCKED'">{{task.day}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <div class="day" *ngFor="let task of tasksInRandomOrder" [class.cursor-normal]="task.status == 'LOCKED'">
        <a [routerLink]="task.status == 'LOCKED' ? null : ['/tasks', task.day]" [class.cursor-normal]="task.status == 'LOCKED'">
            <i class="overlay text-success fa-4x fas fa-check" *ngIf="task.status == 'SOLVED' && task.solutionStatus == 'CORRECT'"></i>
            <i class="overlay text-warning fa-4x fas fa-times" *ngIf="task.status == 'SOLVED' && task.solutionStatus == 'INCORRECT'"></i>
            <img class="present" [src]="task.status == 'OPEN' ? '/assets/presents/presentToday.png' : '/assets/presents/present.png'">
            <p class="number">{{task.day}}</p>
        </a>
    </div>
</div>
<div class="clearfix"></div>