<h1>Aufgaben</h1>
<div class="alert alert-info">
    <h4>Farbcodes</h4>
    <table class="table">
        <tbody>
            <tr>
                <td class="bg-success text-white">Richtig, volle Punkzahl</td>
                <td class="bg-danger  text-white">Falsch, keine Punkte</td>
            </tr>
            <tr>
                <td class="bg-warning">Momentan zur Bearbeitung</td>
                <td class="bg-light">Noch nicht freigeschaltet</td>
            </tr>
        </tbody>
    </table>

</div>
<table class="table table-responsive">
    <tbody>
        <tr>
            <td *ngFor="let task of tasks" [class.text-white]="task.status == 'SOLVED'" [class.bg-success]="task.status == 'SOLVED'" [class.bg-warning]="task.status == 'OPEN'" [class.bg-light]="task.status == 'LOCKED'">{{task.day}}</td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<div>
    <div class="day float-left" *ngFor="let task of tasksInRandomOrder">
        <a [routerLink]="['/tasks', task.day]">
            <img class="present" src="/assets/presents/present.png">
            <p class="number">{{task.day}}</p>
        </a>
    </div>
</div>
<div class="clearfix"></div>
