<div>
    <span class="display-4 d-block">Der etwas andere</span>
    <span class="font-weight-bold display-3 d-block"><i>AG</i>ventskalender</span>
    <span class="display-4 d-block">des Allgäu-Gymnasiums</span>
    <h3 class="mt-5"> Willkommen, <i>{{authenticationService.currentUser?.nickname}}</i>!</h3>
    <p>Auf welchem Platz befindest Du Dich aktuell - oder Deine Freunde oder Deine Klasse? Schau' einfach in der <a routerLink="/scores">Bestenliste</a> nach!</p>
    <p>Prüfe, ob Du noch <a routerLink="/tasks">Bilderrätsel</a> zu lösen hast. Du willst sicher kein einziges Rätsel verpassen und Punkte verlieren!</p>
    <div>
        <button class="mx-2 btn btn-primary btn-lg" routerLink="/tasks">Bilderrätsel</button>
        <button class="mx-2 btn btn-success btn-lg" routerLink="/scores">Bestenliste</button>
    </div>
</div>