<div class="text-center mb-3">
    <h3>Benutzer</h3>
</div>
<div class="table-responsive mt-1">
    <div class="alert alert-primary">
        Es gibt momentan {{userCount}} Benutzer.
    </div>
    <div class="text-left mb-4">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn" (click)="sort('date')" [class.btn-primary]="order == 'date'" [class.btn-outline-primary]="order !== 'date'">Nach Anmeldedatum sortieren</button>
            <button type="button" class="btn" (click)="sort('grade')" [class.btn-primary]="order == 'grade'" [class.btn-outline-primary]="order !== 'grade'">Nach Klasse sortieren</button>
          </div>
    </div>
    <table class="table table-striped border-top-0">
        <thead>
            <tr>
                <th>Klasse</th>
                <th>Benutzer</th>
                <th>Nickname</th>
                <th>Punkte</th>
                <th>Admin</th>
                <th>Aktionen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.grade}}</td>
                <td>{{user.realname}}
                    <br>
                    <i>{{user.email}}</i>
                </td>
                <td>{{user.nickname}}</td>
                <td>{{user.points}}</td>
                <td><i class="fas fa-user-shield" *ngIf="user.isAdmin"></i></td>
                <td>
                    <button class="btn btn-outline-warning mr-2" (click)="changeAdminStatus(user, !user.isAdmin)"><i [class]="'fas fa-user' + (user.isAdmin ? '' : '-shield')"></i></button>
                    <button class="btn btn-outline-danger" (click)="deleteUser(user)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>