@import "~bootstrap/scss/bootstrap.scss";
@import '~ngx-toastr/toastr';
@import '~@fortawesome/fontawesome-free/css/all.css';
html {
    overflow-x: hidden;
}

.bg-semitransparent {
    border-radius: 5rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-normal {
    cursor: default !important;
}