<h2>Der etwas andere AGventskalender</h2>
<h4>Das Schulhaus-Tippspiel des Allgäu-Gymnasiums Kempten</h4>
<div class="text-justify mt-4">
    <p class="font-weight-bold">Liebe Schülerinnen und Schüler, Lehrerinnen und Lehrer des Allgäu-Gymnasiums,</p>
 
    <p>willkommen beim AGventskalender, dem Schulhaus-Tippspiel unseres Gymnasiums zur Adventszeit!</p>
    <p>Wie gut kennst du deine Schule? Jeden Tag kannst du ein Geschenk öffnen und dein Wissen testen. Du wirst Bilder von Orten und Objekten in und um unser Schulhaus sehen. Was wurde fotografiert? Wenn du den abgebildeten Gegenstand gefunden hast, musst du dir seinen Ort genau merken. Klicke anschließend in der jeweiligen Aufgabe im Luftbild des Schulgeländes auf das Quadrat, unter dem sich der fotografierte Gegenstand befindet. Du hast jeweils mindestens zwei Tage Zeit. <br> Falls du an einem Tag die Lösung nicht findest, sei nicht traurig, sondern spiele am nächsten Tag einfach weiter. Jede Woche gibt es mehr Punkte auf eine richtige Lösung. <br> Die Teilnahme an diesem Tippspiel ist natürlich kostenlos.<br> Neben der Freude, zu den besten AG-Experten der Schulfamilie zu gehören, warten auf die Erstplatzierten kleine Preise.</p>
    <p>Viel Spaß beim Schulhaus-Erforschen, Knobeln, Rätseln und Gewinnen!</p>
    <p>Die Arbeitsgemeinschaft Multimedia des Allgäu-Gymnasiums</p>

    <h4 class="mt-4">Noch ein paar Regeln:</h4>
    <div class="card p-3 mb-3">
        <b>Wer kann am AGventskalender teilnehmen?</b><br>
        <p class="text-left regeln">Alle Schülerinnen und Schüler sowie alle Lehrkräfte des Allgäu-Gymnasiums dürfen am Tippspiel teilnehmen.</p>
    </div>
    <div class="card p-3 mb-3">
        <b>Wie melde ich mich an?</b>
        <p class="text-left regeln">Bitte melde dich zunächst an (<a routerLink="/register">Registrieren</a>). Außer deinem Namen, deiner Klasse und einer E-Mail-Adresse musst du keine personenbezogenen Daten angeben. Diese werden absolut vertraulich behandelt. Notiere dir deine angegebenen Zugangsdaten, deinen Nicknamen und dein Passwort. Bitte melde dich mit deinem richtigen Namen und deiner richtigen Klasse an. Jede Anmeldung wird von uns genau überprüft. Existiert kein Schüler oder Lehrer mit dem angegeben Namen an unserer Schule, wird die Anmeldung gelöscht.</p>
    </div>
    <div class="card p-3 mb-3">
        <b>Wann kann ich die Lösungen abgeben?</b>
        <p class="text-left regeln">Die Tabelle sagt dir, bis wann du die Lösung eingeben kannst.</p>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Tag des Rätsels</th>
                    <th colspan="2">Abgabe möglich bis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Montag</td>
                    <td>Dienstag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Dienstag</td>
                    <td>Mittwoch</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Mittwoch</td>
                    <td>Donnerstag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Donnerstag</td>
                    <td>Freitag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Freitag</td>
                    <td>Montag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Samstag, Sonntag</td>
                    <td>Dienstag</td>
                    <td>23:59 Uhr</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-success">
            Die <b>Weihnachtsaufgabe am 24.12.2020</b> kann bis zum <b>Sonntag, 27.12.2020, 23:59 Uhr</b> gelöst werden.
        </div>
        <br> Nach dieser Frist ist die Eingabe nicht mehr möglich und du kannst die Lösung des jeweiligen Bilderrätsels ansehen.<br>
        <br> Die aktuellen Bilderrätsel kannst du auch in der Schule an den Info-Screens sehen. <br>
    </div>
    <div class="card p-3 mb-3">
        <b>Wie viele Punkte kann ich erzielen?</b><br>
        <p class="text-left regeln">Für jede richtige Lösung eines Bilderrätsels der
        </p>
        <ul>
            <li><strong>ersten</strong> Dezemberwoche (01. – 06.12.) bekommst du <strong>10 Punkte</strong>,</li>
            <li><strong>zweiten</strong> Dezemberwoche (07. – 13.12.) bekommst du <strong>20 Punkte</strong>,</li>
            <li><strong>dritten</strong> Dezemberwoche (14. – 20.12.) bekommst du <strong>30 Punkte</strong>,</li>
            <li><strong>vierten</strong> Dezemberwoche (21. – 23.12.) bekommst du <strong>35 Punkte</strong>.</li>
            <li>Für die richtige Lösung am <strong>Heiligabend</strong> bekommst du <strong>60 Punkte</strong>.</li>
        </ul>
        <p>Bei der <a class="d-inline" routerLink="/scores">Bestenliste</a> kannst du jederzeit nachsehen, wie viele Punkte du bisher erhalten hast und auf welchem Platz du momentan stehst.<br> <br>Auch kannst du sehen, wie gut deine Klasse bisher abgeschnitten hat. <br> Die Preisträger des Tippspiels werden dann benachrichtigt.<br></p>
    </div>
    <hr>
    <div class="mb-4">
        <h6 class="font-weight-bold">Technische Realisierung:</h6>
        Hannes Rüger (Q11), Felix Knott (Q12), Caius Haager (7b)
    </div>
    <div class="mb-4">
        <h6 class="font-weight-bold">Fotos:</h6>
        Andreas Herz (StD), Florian Fadle (9a), Theo Schenkyr (9c), Christian Irizoiu (6b)
    </div>
    <div class="mb-4">
        <h6 class="font-weight-bold">Spielleitung:</h6>
        Andreas Herz (StD)
    </div>
</div>

