<h2>Der etwas andere AGventskalender</h2>
<h4>Das Schulhaus-Ratespiel des Allgäu-Gymnasiums Kempten</h4>
<div class="text-justify mt-4">
    <p class="font-weight-bold">Liebe Schülerinnen und Schüler, Lehrerinnen und Lehrer des Allgäu-Gymnasiums,</p>
 
    <p>willkommen beim AGventskalender, dem Schulhaus-Ratespiel unseres Gymnasiums zur Adventszeit!</p>
    <p>Wie gut kennst Du Deine Schule? Jeden Tag kannst Du ein Geschenk öffnen und Dein Wissen testen. Du wirst Bilder von Orten und Objekten in und um unser Schulhaus sehen. Was wurde fotografiert und vor allem wo befindet sich das fotografierte Objekt? Klicke anschließend in der jeweiligen Aufgabe im Luftbild des Schulgeländes auf das Quadrat, in dem sich der fotografierte Gegenstand befindet. Du hast jeweils mindestens zwei Tage Zeit. <br> Falls Du an einem Tag die Lösung nicht findest, sei nicht traurig, sondern spiele am nächsten Tag einfach weiter. Jede Woche gibt es mehr Punkte auf eine richtige Lösung. <br> Die Teilnahme am AGventskalender ist natürlich kostenlos.<br> Dein Punkte-Konto wird jeden Tag aktualisiert. Schaue in den verschiedenen Ranking-Listen nach, welchen Platz Du oder Deine Klasse aktuell einnehmen.</p>
    <p>Viel Spaß beim Schulhaus-Erforschen, Knobeln, Rätseln und Gewinnen!</p>
    <p>Die Arbeitsgemeinschaft Multimedia des Allgäu-Gymnasiums</p>

    <h4 class="mt-4">Noch ein paar Regeln:</h4>
    <div class="card p-3 mb-3">
        <b>Wer kann am AGventskalender teilnehmen?</b><br>
        <p class="text-left regeln">Alle Schülerinnen und Schüler sowie alle Lehrkräfte des Allgäu-Gymnasiums dürfen am AGventskalender teilnehmen. Die Schülerinnen und Schüler der 5. und 6. Klassen bekommen eigene, etwas einfachere Bilderrätsel, da sie Schulhaus noch nicht so gut kennen. Die anderen Teilnehmer (Schülerinnen und Schüler der Jahrgangsstufen 7 bis 12 und Lehrkräfte) erhalten etwas anspruchsvollere Bilderrätsel.</p>
    </div>
    <div class="card p-3 mb-3">
        <b>Wie melde ich mich an?</b>
        <p class="text-left regeln">Bitte melde Dich zunächst unter &quot;<a routerLink="/register">Registrieren</a>&quot; an. Außer Deinem Namen, Deiner Klasse und einer E-Mail-Adresse musst Du keine personenbezogenen Daten angeben. Diese werden absolut vertraulich behandelt und nach dem Ermitteln der Gewinner im Januar wieder gelöscht. Notiere Dir Deine angegebenen Zugangsdaten, also Deinen Nicknamen und Dein Passwort. Bitte melde Dich mit Deinem richtigen Namen und Deiner richtigen Klasse an. Jede Anmeldung wird von uns genau überprüft. Existiert kein Schüler oder Lehrer mit dem angegeben Namen an unserer Schule, wird die Anmeldung gelöscht.</p>
    </div>
    <div class="card p-3 mb-3">
        <b>Wann kann ich die Lösungen abgeben?</b>
        <p class="text-left regeln">Die Tabelle sagt Dir, bis wann Du die Lösung eingeben kannst.</p>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th>Tag des Rätsels</th>
                    <th colspan="2">Abgabe möglich bis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Montag</td>
                    <td>Dienstag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Dienstag</td>
                    <td>Mittwoch</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Mittwoch</td>
                    <td>Donnerstag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Donnerstag</td>
                    <td>Freitag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Freitag</td>
                    <td>Montag</td>
                    <td>23:59 Uhr</td>
                </tr>
                <tr>
                    <td>Samstag, Sonntag</td>
                    <td>Dienstag</td>
                    <td>23:59 Uhr</td>
                </tr>
            </tbody>
        </table>
        <div class="alert alert-success">
            Die <b>Weihnachtsaufgabe am 24.12.2020</b> kann bis zum <b>Sonntag, 27.12.2020, 23:59 Uhr</b> gelöst werden.
        </div>
        <br> Nach dieser Frist ist eine Abgabe nicht mehr möglich und Du kannst die Lösung des jeweiligen Bilderrätsels ansehen.<br>
        <br> Die aktuellen Bilderrätsel kannst Du auch in der Schule an den Info-Screens sehen. <br>
    </div>
    <div class="card p-3 mb-3">
        <b>Wie viele Punkte kann ich erzielen?</b><br>
        <p class="text-left regeln">Für jede richtige Lösung eines Bilderrätsels der
        </p>
        <ul>
            <li><strong>ersten</strong> Dezemberwoche (01. – 06.12.) bekommst Du <strong>10 Punkte</strong>,</li>
            <li><strong>zweiten</strong> Dezemberwoche (07. – 13.12.) bekommst Du <strong>20 Punkte</strong>,</li>
            <li><strong>dritten</strong> Dezemberwoche (14. – 20.12.) bekommst Du <strong>30 Punkte</strong>,</li>
            <li><strong>vierten</strong> Dezemberwoche (21. – 23.12.) bekommst Du <strong>40 Punkte</strong>.</li>
            <li>Für die richtige Lösung am <strong>Heiligabend</strong> bekommst Du <strong>60 Punkte</strong>.</li>
        </ul>
        <p>Unter &quot;<a class="d-inline" routerLink="/scores">Bestenliste</a>&quot; kannst Du jederzeit nachsehen, wie viele Punkte Du bisher erhalten hast und auf welchem Platz Du momentan stehst.<br> <br>Auch kannst Du sehen, wie gut Deine Klasse bisher abgeschnitten hat. <br> Die Preisträger des Adventskalenders werden dann benachrichtigt.<br></p>
    </div>
    <div class="card p-3 mb-3">
        <b>Was mache ich, wenn ich meine Zugangsdaten vergessen habe?</b><br>
        <p class="text-left regeln">Klicke beim Login auf &quot;Passwort vergessen&quot; und gib anschließend die E-Mail-Adresse ein, mit der Du Dich registriert hast. Du erhältst dann eine E-Mail mit einer Schaltfläche &quot;Passwort zurücksetzen&quot;. Nachdem Du auf diese Schaltfläche geklickt hast, kannst Du ein neues Passwort für Deinen Nicknamen festlegen.</p>
    </div>
    <hr>
    <div class="mb-4">
        <h6 class="font-weight-bold">Technische Realisierung:</h6>
        Hannes Rüger (Q11), Felix Knott (Q12), Caius Haager (7b)
    </div>
    <div class="mb-4">
        <h6 class="font-weight-bold">Fotos:</h6>
        Andreas Herz (StD), Florian Fadle (9a), Theo Schenkyr (9c), Christian Irizoiu (6b)
    </div>
    <div class="mb-4">
        <h6 class="font-weight-bold">Spielleitung:</h6>
        Andreas Herz (StD)
    </div>
</div>

