<div class="text-center">
    <span class="display-4 d-block">Der etwas andere</span>
    <span class="font-weight-bold display-3 d-block">AG-Ventskalender</span>
    <span class="display-4 d-block">des Allgäu-Gymnasiums</span>
    <h2 class="mt-4">Wie gut kennst du das AG?</h2>
    <p class="lead">Melde dich jetzt an, spiele mit und gewinne mit etwas Glück einen der vielen Preise!</p>

    <div class="mt-5 mb-5">
        <a class="btn btn-lg btn-primary mr-2" routerLink="/login">Einloggen</a>
        <a class="btn btn-lg btn-success" routerLink="/register">Heute noch anmelden</a>
    </div>

    <span class="display-5 mt-5">Der rein nicht-kommerzielle AG-Ventskalender des Allgäu-Gymnasiums.</span>
</div>